.project_page {
  height: 100%;
  text-align: center;
  display: block;
  justify-content: space-between;
  overflow: auto;
  animation: pop 0.5s ease-in-out;
}


@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





