.project_page {
  text-align: center;
  display: block;
  justify-content: space-between;
  max-height: 700px;

}

.project_section {
  width: 80%;
  height: auto;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  margin-left: 8%;
  margin-bottom: 2%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  transition: all 0.2s ease-in-out;
}

.project_section:hover {
    transform: scale(1.1);
}

.project_name {
  width: 15%;
  height: fit-content;
  font-size: larger;
  text-align: center;
}

.project_description {
  width: 50%;
  padding-left: 2%;
  text-align: justify;
}

.project_image {
  width: 35%;
  background-image: url("../../Image/BlackGreen_mainpage.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border-radius: none;
  text-align: justify;
}

@media only screen and (max-width: 720px) {
.project_image {
  width:0;
}
.project_description {
  width: 60%;
  padding: 2%;
  text-align: justify;
}
}
