.project_section {
  width: 100%;
  height: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_section_2 {
  width: 80%;
  height: 200px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2% 2% 1% 2%;
  overflow: auto;
  margin-top: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 17, 2, 0.6)
  )
}

.project_name {
  width: 15%;
  padding-top: 4%;
  height: fit-content;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.project_description {
  width: 65%;
  padding-left: 2%;
  font-size: large;
  overflow: auto;
}

.title {
  color: greenyellow;

}

.container {
  position: relative;
  width: 25%;
  height: auto;
  min-width: 280px;
  border-radius: none;
  text-align: justify;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
  transition: all 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 10px black;
}



.project_image {
  width: 90%;
  height: 90%;
}

.project_image:hover {
  cursor: zoom-in;
  animation: scale 1s ease-in-out forwards;
}

@keyframes scale {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}

.project_image:not(:hover) {
  cursor: zoom-in;
  animation: scaleOff 1s ease-in-out forwards;
}

@keyframes scaleOff {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

.project_language {
  color: rgb(99, 161, 7);
}

@media only screen and (max-width: 1650px) {
  .project_name {
    font-size: large;
    padding-top: 4%;
  }
}

@media only screen and (max-width: 720px) {
.project_section_2{
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

  .container {
    width: 100%;
  }

  
  .project_description {
    width: 100%;
    padding-left: 2%;
    padding: 2%;
    text-align: center;
    font-size: small;
    overflow: auto;
  }

  .title {
    opacity: 0;
  }

  .container:hover::before {
    content: attr(data-title);
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5%;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    padding: 1%;
  }

  .project_image:hover {
    cursor: zoom-in;
    animation: none;
  }

  .project_image:not(:hover) {
    cursor: zoom-in;
    animation: none;
  }
  
}
