.about_page {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  animation: pop 1s ease-out;
}

.image {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil_image {
  width: 65%;
  height: 40%;
  border-radius: 100%;
  border: 2px solid rgb(0, 0, 0);
}

.description_section {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: black;
  padding: 2%;
  overflow: auto;
  animation: pop 1.5s ease-out;
}

.description_section_2 {
  width: 90%;
  height: 65%;
  box-shadow: 0px 15px 40px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  width: 90%;
  height: 95%;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.title {
  width: 100%;
  height: 10%;
  font-size: large;
  color: white;
}

.presentation {
  width: 100%;
  height: 80%;
  padding: 1%;
  overflow: auto;
  color: black;
  font-size: normal;
  font-family: "Times New Roman", Times, serif;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(161, 210, 151, 0.7)
  );
}

@media only screen and (max-width: 768px) {
  .about_page {
    margin-left: 50%;
    width: 700px;
    text-align: center;
    display: inline-block;
    justify-content: center;
  }

  .profil_image {
    width: 200px;
    height: 200px;
    margin-left: 35%;
    margin-top: 20%;
  }
  .description {
    max-height: 500px;
  }
}

@media only screen and (max-width: 420px) {
  .about_page {
    margin-left: 320px;
    width: 700px;
    text-align: center;
    display: inline-block;
    justify-content: center;
  }

  .profil_image {
    width: 200px;
    height: 200px;
    margin-left: 35%;
    margin-top: 25%;
  }
  .description {
    max-height: 500px;
    font-size: smaller;
  }
}
